#btn-signup {
  text-align: center;
  padding: 10px;
  width: 100%;
  border: 4px;
  border-radius: 8px;
  background-color: #D6E4E5;
  color: black;
  &:hover{

    background-color: #497174;
    transition: 0.4s;
  }
}
