<div class="search-bar">
  <%= form_with url: root_path, method: :get do %>
      <%= text_field_tag :query,
            params[:query],
            # class: "input-box-solid",
            placeholder: "Search gear... 💪"
        %>
      <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    <% end %>
</div>
