<div class="card m-5 rounded-4 p-3 d-flex align-items-center">
  <h3 class="header-new"><i class="logo-color fa-solid fa-fire"></i> UpdateYourGear</h3>
  <%= render "form", item: @item %>
</div>
<%= render "pages/shared/navbar" %>
