<h1>Items#index</h1>
<h2>Items</h2>
<ol>
  <% items.each do |item| %>
    <%= link_to item_path(item) do %>
      <li><%= item.name %></li>
    <% end %>
  <% end %>
</ol>
<br>
<%= link_to "New Item", new_item_path %>
