<div class="container" style="text-align:center">
<h3 class="header-new" style="margin-top:12px"><i class="logo-color fa-solid fa-fire"></i> AddGearNow</h3>
<div class="p-3" style="margin-top:50px;">
  <%= render "form", item: @item %>
</div>
</div>
<%= render "pages/shared/navbar" %>
